{% extends 'base.html' %}

{% block title %}About You Pick Manager{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">About You Pick Manager</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">You Pick Manager [A free and opensource Django application]</h5>
            <p class="card-text">
                You Pick Manager was written by Bill Lensmire.  Bill grew up on a farm in northeast Wisconsin (Kewaunee County) and has a degree in Computer Science/Mathematics from Carroll College.  (This was in the days of mainframe computers and 8086/8088 CPUs...now you know how old I am :) Like many of you, Bill spent many years developing software in a Dilbert cubical for companies like GE Medical Systems and Agfa Healthcare.  Bill along with his wife have a small farm in southern Wisconsin (zone 5b) where they grow vegetables for their local community.
            </p>

            <h6>Why Opensource?</h6>
            <p class="card-text">
                <ul>
                    <li>Like many of you who follow the teachings of Jesus, the Son of God, I feel compelled to share the fruits of my labor with others.  I believe that opensource software is one way to share these fruits with others.</li>
                    <li>I want to help you to spend less time on the computer and more time in your garden growing food.</li>
                    <li>We need more people like you growing fresh, healthy, chemical-free (no pesticides, herbicides, or fungicides) food for our local neighbors and communities.</li>
                </ul>
            </p>    
            <p class="card-text">
                Jesus said "Love the Lord your God with all your heart and with all your soul and with all your mind and with all your strength.  The second is this: Love your neighbor as yourself.  There is no commandment greater than these."
            </p> 
            <h6>Available Features:</h6>
            <ul>
                <li>ToDo Lists and Tasks</li>
                <li>Plant & Variety Management</li>
                <li>Garden Bed Management</li>
                <li>Produce Harvest Planning</li>
                <li>Indoor Seed Planting and Transplanting date management</li>
                <li>Calendar with PDF Export</li>
                <li>Beneficials</li>
                <li>Garden NoteLog with Photo and PDF upload</li>
            </ul>
            <h6>Future Features:</h6>
            <ul>
                <li>Cover Crop Management</li>
                <li>Foliar Spray Management</li>
                <li>Soil & Plant Mineral Management</li>
                <li>Comprehensive reporting</li>
            </ul>

            <h6>Why You Pick Manager?</h6>
            <p class="card-text">
                Bill wrote You Pick Manager because he was tired of using excel to plan and manage his U Pick Market Garden.  Excel is a great tool, but it becomes brittle and error-prone when you have a lot of data and complex relationships.  You Pick Manager is a web application that allows you to plan and manage your U Pick Market Garden in a more efficient and error-free way.
            </p>
            <p class="card-text">
                Bill wrote this software with help from AI in 2025.  The complexity of creating a modern web app is too great for a single developer to handle.
            </p>
            <p class="card-text">
                Experience the power and efficiency of streamlined management with You Pick Manager - your partner in operational excellence.
            </p>
        </div>
    </div>
</div>
{% endblock %}
